<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <bean id="fusionXmlDataConverter" class="com.laborguru.util.FusionXmlDataConverter" singleton="true">
    	<property name="reportConfigurations" ref="reportConfs"/>
    </bean>
    
	<bean id='reportConfs' class="java.util.HashMap" singleton="true">
	<description>Config file of each report</description>
	<constructor-arg>
		<map>
			<entry key="weeklyTotalHoursReport">
				<value>/com/laborguru/report/weeklyTotalHourReports.properties</value>
			</entry>
			<entry key="dailyHalfhourReport">
				<value>/com/laborguru/report/dailyHalfhourReport.properties</value>
			</entry>
			<entry key="historicalComparisonReport">
				<value>/com/laborguru/report/historicalComparisonReport.properties</value>
			</entry>			
		</map>
	</constructor-arg>
	</bean>
</beans>